body{
    background-image: linear-gradient(270deg, #717171 0, #1f3259 50%, #000040 100%);
    
}
.title{
background-color: rgb(185, 194, 185);
color: rgb(158, 55, 158);
position:fixed;
text-align: center;
margin:10px;
border: 6px solid rgb(63, 62, 63);
border-radius: 10px;
padding:20px 100px;
font-family: 'Gloria Hallelujah', cursive;
text-shadow:4px 4px black;
font-size: 20px;
}

.mask{
    background-color: rgba(204, 198, 198, 0.3);

}

.barra-menu{
    position:fixed;
    text-align: justify;
    width: 800px;
    border: 2px solid rgb(91, 141, 10);
    background-color: rgb(20, 18, 18);
    padding: 15px;
    margin: 150px;
    color:yellow;
    font-size:24px;
    
}